<body>
  <div class="body">
  <!-- <div>
      <p>
      De pagina hieronder is een ludieke manier om te kiezen waar uw bijdrage naartoe gaat, indien u dit
      wenst. Opnieuw, dit is uiteraard volledig vrijblijvend. Concreet, hoe werkt het?</p>
      <ul>
        <li>U kiest hieronder (een) activiteit(en) naar wens. Om verder te gaan, klikt u op ‘Schenk!’</li>
        <li>U komt vervolgens op een bevestigingspagina terecht waar u een samenvatting ziet van uw
            gekozen bedrag en activiteit(en).</li>
        <li> U laat daar uw emailadres en naam achter en eventueel een leuke boodschap aan ons. Zo
            weten wij achteraf ook wie wat gekozen heeft.</li>
        <li>U klikt op ‘Verstuur!’. Hierna kan u het door u gekozen bedrag zelf overmaken op onze
            rekeningnummer BE23 9731 5176 2291 of u geeft dit op onze trouwdag zelf.</li>
      </ul>

  </div> -->
  <div id="giftForm" class="giftForm">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address:</label>
      <input type="email" class="form-control" id="giftEmail" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="giftFirstName">Voornaam:</label>
      <input type="text" class="form-control" id="giftFirstName" placeholder="">
    </div>
    <div class="form-group">
      <label class="form-check-label" for="giftLastName">Achternaam:</label>
      <input type="text" class="form-control" id="giftLastName">
    </div>
    <div class="form-group">
      <label class="form-check-label" for="giftMessage">Laat hier een berichtje aan ons achter:</label>
      <textarea type="text" class="form-control" id="giftMessage" rows="6"></textarea>
    </div>    
    <button type="submit" (Click)="sendMessage()" class="btn btn-white">Verstuur bericht</button>
  </form>

  <div id="table" class='d-inline-flex p-2 bd-highlight' *ngIf="this.cartItems && this.cartItems.length > 0" style="background-color: #efede3">
    <div class="col-md4 order-md-2 mb-4" style="border-radius: 20px; padding: 5px">
      <h4 class="d-flex align-items-center mb-3">
        <span class="text-muted">Uw cadeau's!</span>
      </h4>
      <ul class="list-group mb-3" *ngFor='let item of cartItems' >
        <li class="d-flex align-items-start" style="">
            <b>{{item.name}}
          €{{item.price}}</b>
        </li>
      </ul>
      <p>Totaal bedrag: {{totalValue}} euro</p>
      <!-- <button (click)="CheckOut(totalAmount)" class="btn btn-secondary" style="margin-left: 24%">Schenken</button> -->
    </div>
  </div>

</div>
</div>
</body>