.body{
    background-image: none;
    padding: 20px;

}

form{
    width: 300px;
    margin: 0 auto;
    align-self: auto;
}

.d-inline-flex-p-2-bd-highlight{
    margin-left:350px;;
}

.middenPaneel{
    background-color: #efede3;
    width: 80%;
    max-width: 1200px;
    min-width: 700px;
    margin: 0 auto;
    border-right-style: double;
    border-left-style: double;
    border-width: 12px;  
    padding: 10px;
    height: 98vh;
    }