<body>

  <div class="middenPaneel">
  <div class="d-flex" style="width: 66%; margin:0 auto;">
    <div class="p-2" style="margin: 0 auto">
  <form>
    <div class="form-group" >
      <label for="exampleInputEmail1">Email address:</label>
      <input type="email" class="form-control" id="giftEmail" [(ngModel)]="Email" name="first" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="giftFirstName">Voornaam:</label>
      <input type="text" class="form-control" id="giftFirstName" [(ngModel)]="FirstName" name="first">
    </div>
    <div class="form-group">
      <label for="giftLastName">Achternaam:</label>
      <input type="text" class="form-control" id="giftLastName" [(ngModel)]="LastName" name="first">
    </div>
    <div class="form-group">
      <label class="form-check-label" for="giftMessage">Laat hier een berichtje aan ons achter:</label>
      <textarea type="text" class="form-control" id="giftMessage" rows="6" [(ngModel)]="Message" name="first"></textarea>
    </div>    
    <button type="submit" (click)="showData(cartItems)" class="btn btn-white">Verstuur bericht</button>
    
  </form>
  </div>
<div class="ml-auto p-2" style="margin-top:25px">
  <div class="card text-white bg-secondary mb-3" *ngIf="this.cartItems && this.cartItems.length > 0" style="max-width: 18rem;">
    <div class="card-header"><b>Uw cadeau's   |   totaal: €{{totalValue}}</b></div>
<div class='d-flex' *ngIf="this.cartItems.length > 0" style="background-color: whitesmoke; ">
  <div class="col-md4 order-md-2 mb-4" style="border-radius: 20px; padding: 5px">
    <ul class="list-group mb-3" *ngFor='let item of cartItems' style="background-color: whitesmoke;" >
        <div class="d-flex">
            <div class="mr-auto p-2"><b>{{item.name}}</b></div>
            <div class="p-2">€{{item.price}}</div>
          </div>
    </ul>
  </div>
</div>
</div>
</div>
</div>
</div>
</body>