<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style ="margin: 0 auto">
  <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <a class="navbar-brand" href="#"><img src="../../assets/images/m&m.jpg" style="height: 30px; width: auto; margin-top:-5px;"></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#/home">Home</a>        
        <a class="nav-item nav-link" href="#/register">Huwelijkslijst</a>
        <a class="nav-item nav-link" href="#/checkout">Checkout</a>
</div>
      
      </div>
      </div>
  </nav>
</body>