@font-face {
    font-family: 'collona';
    src: url(../../assets/fonts/SmartFrocksNF.ttf) format("truetype");
  }
  @font-face {
    font-family: 'rochester';
    src: url(../../assets/fonts/Rochester-Regular.otf) format("opentype");
  }
  @font-face {
    font-family: 'lucida';
    src: url(../../assets/fonts/Lucida.ttf) format("truetype");
  }
.headDiv{
    width: 100;
    display: block;
    padding-top: 20px; 
    border-style: none;
    margin: 0 auto;
}
.hoofding{
    display: block;
    width: 100%;
    margin: 0 auto;
}
.lijn{
    border-bottom-style: solid;
    border-width: 3px;
    border-color: goldenrod;
    background-color: black;
}
.middenPaneel{
    /* background-color: #efede3; */
    width: 50%;
    min-width: 700px;
    margin: 0 auto;
    /* border-right-style: double; */
    /* border-left-style: double; */
    border-width: 12px;  
    padding: 10px;
    text-align: center;
}
.intro {
    text-align: left;
    align-self: auto;
    text-decoration: aqua;
    /* font-style: italic; */
}
.fotoLinks {
    float:left;
    height: 20em;
    width: auto;
    margin-top:-25px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.fotoRechts{
    display: block;
    float: right;
    height: 20em;
    width: auto;
    margin-top:-25px;
    width: auto;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.fotoMidden{
    display: block;
    /* margin-top: 50px; */
    width:70%;
    margin: 0 auto;
}
.nuttigeInfo{
    margin-top:20em;
    text-align: left;
}
agm-map {
    height: 300px;
    width: 330px;
}

.locatieReceptie, .locatieKerkelijkHuwelijk{
    float: right;
    margin-right: 40px;
    margin-bottom: 20px;
    border-style: solid;
    border-width:2px;
    border-radius: 20%;
}
.locatieAvondfeest{
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-style: solid;
    border-width:2px;
    border-radius: 20%;
}
.banner{
    width: 98%;
    margin-left: -5px;
}
.bannerBot1{
    width: 250px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 20px;
}
.bannerTop1{
    width: 250px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
#homeNav{
    width: 876px;
    height: 30px;
    margin:0 auto -10px;
}
a{
    font-size: 14px;
    font-weight: bold; 
}
.collapsible-body{
    margin: 0 auto;
}

.receptieBol{
    width: 210px;
    height: 210px;
    float:left;
    margin-left:115px;
    margin-top: 60px;
    background-color: snow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-fill-color: rgb(137, 200, 241);
    -webkit-text-fill-color: darkgoldenrod;
    font-size: 2em;
    line-height:1em;
    border-radius: 100%;
    text-align: center;
    padding: 35px 0;
}

.kerkBol{
    width: 180px;
    height: 180px;
    float:left;
    margin-left:150px;
    margin-top: 40px;
    background-color: snow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-text-fill-color: rgb(137, 200, 241);
    -webkit-text-fill-color: darkgoldenrod;
    font-size: 2em;
    line-height:1em;
    border-radius: 100%;
    text-align: center;
    padding: 35px 0;
}
.avondfeestBol{
    width: 200px;
    height: 200px;
    float:right;
    margin-right:135px;
    margin-top: 60px;
    background-color: snow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* -webkit-text-fill-color: rgb(137, 200, 241); */
    -webkit-text-fill-color: darkgoldenrod;
    font-size: 2em;
    line-height:1em;
    border-radius: 100%;
    text-align: center;
    padding: 30px 0;
}

h1{
    font-family: lucida;
    -webkit-text-fill-color: #ab8d3f;
    -webkit-text-fill-color: black;

    font-size: 36px;
    text-align: center;

}
h2{
    font-family: lucida;
    -webkit-text-fill-color: black;
    font-size: 30px;
    text-align: center;
}
.opsomming{
    text-align: center;
}

h4{
    font-family: rochester;
    -webkit-text-fill-color: #ab8d3f;
    margin: auto 0;
    font-size: 68px;
}

p{
    text-align: center;
}

