<div #headDiv class="headDiv">
  <!-- <div class="middenPaneel"> -->

  <div class="hoofding">
    <img class="fotoLinks" src="assets/images/matthias_bovenaan.jpg">
    <img class="fotoMidden" src="assets/images/michenmat.PNG">
    <img class="fotoRechts" src="assets/images/michele_bovenaan.jpg">
    <!-- <p class="title">Michèle & Matthias</p> -->
  </div>
</div>
<!-- </div> -->

<div class="lijn"></div>
<div class="middenPaneel">

  <nav class="navbar fixed-bottom navbar-light bg-light" id="homeNav" style="-webkit-text-fill-color: black;">
    <div class="collapsible-body">
      <ul>
        <a class="navbar-brand" (click)="moveToTop()"><a>Top</a></a>
        <a class="navbar-brand" (click)="moveToKerkHuwelijk()"><a>Kerkelijk huwelijk</a></a>
        <a class="navbar-brand" (click)="moveToReceptie()"><a>Receptie</a></a>
        <a class="navbar-brand" (click)="moveToAvondfeest()"><a>Avondfeest</a></a>
        <a class="navbar-brand" (click)="moveToDresscode()"><a>Dresscode</a></a>
        <a class="navbar-brand" (click)="moveToRSVP()"><a>RSVP</a></a>
      </ul>
    </div>
  </nav>

  <div #intro id="intro" class="intro">De families
    Van Spilbeeck – Van Look en Weyns – Vissers
    Wensen u met veel vreugde het huwelijk aan te kondigen van hun zoon en dochter<br><br>
    <b>Michèle Van Spilbeeck <br>
      & <br>
      Matthias Weyns </b><br><br>

    Hun huwelijk zal ingezegend worden voor het Onze-Lieve-Vrouw Altaar van de Kathedraal van Antwerpen om 11.00 uur op
    zaterdag 9 februari 2019. (Groenplaats 21, 2000 Antwerpen)
    U bent van harte uitgenodigd om deze viering met ons bij te wonen.</div>

  <div class="banner"><img class="banner" src="../../assets/images/banner_1.jpg"></div>

  <div #kerkHuwelijk class="kerkelijkHuwelijk">
    <div class="infoKerkelijkHuwelijk">
      <!-- Trouw voor de kerk zal plaatsvinden te Antwerpen in de Onze-Lieve-Vrouwekathedraal -->
      <div class="kerkBol">
          11u<br>
          olv Kathedraal<br>
          Antwerpen<br>
        </div>
    </div>
    <div class="locatieKerkelijkHuwelijk">
      <div class="map">
        <agm-map [latitude]="latKerk" [longitude]="lngKerk" [zoom]=17>
          <agm-marker [latitude]="latKerk" [longitude]="lngKerk"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
  <div class="banner"><img class="banner" src="../../assets/images/banner_2.jpg"></div>

  <div #receptie class="receptie">
    <div class="infoReceptie">
      <!-- Receptie zal plaatsvinden na kerkdienst in de Bourla. -->
      <div class="receptieBol">
          12.30u<br>
          Foyer Bourla<br>
          GraanMarkt 7<br>
          Antwerpen<br>
      </div>
    </div>
    <div class="locatieReceptie">
      <div class="map">
        <agm-map [latitude]="latReceptie" [longitude]="lngReceptie" [zoom]=17>
          <agm-marker [latitude]="latReceptie" [longitude]="lngReceptie">
          </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
  <div class="banner"><img class="banner" src="../../assets/images/banner_3.jpg"></div>

  <div #avondfeest class="avondfeest">
    <div class="infoAvondFeest">
      <!-- Avondfeest zal plaatsvinden om 20u te wilrijk. -->
      <div class="avondfeestBol">
        20u<br>
        TheaDrôme<br>
        Heistraat 56<br>
        2610 Wilrijk<br>
      </div>
    </div>
    <div class="locatieAvondfeest">
      <div class="map">
        <agm-map [latitude]="latAvondfeest" [longitude]="lngAvondfeest" [zoom]=17>
          <agm-marker [latitude]="latAvondfeest" [longitude]="lngAvondfeest"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
  <div class="banner"><img class="banner" src="../../assets/images/banner_4.jpg"></div>

  <div #dresscode class="dresscode">
    <div class="infoDresscode" style="height: 285px;">
      <!-- Dresscode: Casual chique met een feestelijk randje.<br> -->
      <svg viewBox="0 0 500 500">
          <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" />
          <text width="300" >
            <textPath xlink:href="#curve">
              Casual chique met feestelijk Randje
            </textPath>
          </text>
        </svg>
    </div>
  </div>
  <div class="banner"><img class="banner" src="../../assets/images/banner_5.jpg"></div>

  <div #RSVP id="RSVP" class="RSVP">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="rsvpEmail" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Gelieve uw namen hier door te geven.</label>
        <input type="text" class="form-control" id="rsvpNaam" placeholder="">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="rsvpAlleen">
        <label class="form-check-label" for="rsvpAlleen">Ik kom.</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="rsvpPlusOne">
        <label class="form-check-label" for="rsvpPlusOne">Ik kom met partner.</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="rsvpAlleen">
        <label class="form-check-label" for="exampleCheck1">Ik kom niet.</label>
      </div>
      <button type="submit" class="btn btn-primary">RSVP ME</button>
    </form>
  </div>
</div>