@font-face {
    font-family: 'collona';
    src: url(../../assets/fonts/SmartFrocksNF.ttf) format("truetype");
  }

table:hover{    
    cursor: hand;    
}

h1{
    font-family: collona;
    -webkit-text-fill-color: darkgoldenrod;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
}

.middenPaneel{
width: 80%;
max-width: 1200px;
min-width: 900px;
margin: 0 auto;
border-width: 12px;  
padding: 10px;
height: 1200px;
}


.card{
    max-height: 600px; 
    max-width: 400px; 
    margin:0 auto;
    /* display: block; */
    float: left;
    line-height: 15px;
}

.table-wrapper-scroll-y{
    display: block;
    height: auto;
    max-height: 600px;
    overflow-y: auto;
    cursor: hand;
    /* min-width: 600px; */
    width:80%;
    max-width:700px;
    background-color: whitesmoke;
    margin-bottom: 15px;
    margin-right: 10px;
    /* width:600px; */
    float: left;
}

@media(max-width:1395px){
    .card{
        max-height: 300px; 
        margin:0 auto;
        /* display: block; */
        float: left;
    }
}

