<body>
<div class="middenPaneel">
  <!-- START ADD REGISTER -->
<!-- 
  <div class="card" style="width: 350px;" *ngIf="200==200" style="margin-top: 100px">

    <span>Naam</span>
    <input type="text" [(ngModel)]="Name" placeholder="Naam"><br>

    <span>Beschrijving van wat het juist is/wat ge gaat doen.</span>
    <input type="text" [(ngModel)]="Description" placeholder="Uitgebreid"><br>

    <span>Adres van afbeelding kopiëen</span>
    <input type="text" [(ngModel)]="PictureUrl" placeholder="PictureUrl"><br>

    <span>Hoeveelheid</span>
    <input type="number" [(ngModel)]="Quantity" placeholder="Aantal"><br>
    <span>Prijs</span>
    <input type="number" [(ngModel)]="Price" placeholder="Prijs"><br>
    <button (click)="postItem()" class="btn btn-primary" type="submit">Toevoegen</button></div> -->
  <!-- END ADD REGISTER -->
  <div class="uitleg">
  <h1>
    Huwelijksregister
  </h1>
    <div>
      <p>
      De pagina hieronder is een ludieke manier om te kiezen waar uw bijdrage naartoe gaat, indien u dit
      wenst. Opnieuw, dit is uiteraard volledig vrijblijvend. Concreet, hoe werkt het?</p>
      <ul>
        <li>U kiest hieronder (een) activiteit(en) naar wens. Om verder te gaan, klikt u op ‘Schenk!’</li>
        <li>U komt vervolgens op een bevestigingspagina terecht waar u een samenvatting ziet van uw
            gekozen bedrag en activiteit(en).</li>
        <li> U laat daar uw emailadres en naam achter en eventueel een leuke boodschap aan ons. Zo
            weten wij achteraf ook wie wat gekozen heeft.</li>
        <li>U klikt op ‘Verstuur!’. Hierna dient u het door u gekozen bedrag zelf overmaken op onze
            rekeningnummer BE23 9731 5176 2291 of u geeft dit op onze trouwdag zelf.</li>
      </ul>
  </div>
</div>
  <!-- START REGISTER -->
  <div class="table-wrapper-scroll-y">
  <table class="table table-hover">
    <thead>
      <tr style="background-color: lightgrey">
        <th scope="col">Naam</th>
        <th scope="col">Foto</th>
        <th scope="col">Aantal</th>
        <th scope="col">Prijs</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody style="cursor: pointer;">
      <tr *ngFor="let registerItem of data; let $index=index;" style="cursor: pointer;">
        <td (click)="expandRow($index)" style="width:50%; cursor: pointer;">
          <div (click)="expandRow($index)" (click)="expandRow($index)"><b>{{registerItem.name}}</b></div>
          <span *ngIf="$index === expandedIndex">{{registerItem.description}}</span> 
        </td>
        <td (click)="expandRow($index)"><img style="height: 50px; width: 50px;" src="{{registerItem.pictureUrl}}" alt=""></td>
        <td (click)="expandRow($index)">{{registerItem.sold}}/{{registerItem.quantity}}</td>
        <td (click)="expandRow($index)">€ {{registerItem.price}}</td>
        <td style="width: 20px"><button (click)="AddToCart(registerItem)" class="btn btn-link"><i class="fa fa-plus"></i></button></td>
    </tbody>
  </table>
  </div>
  <!-- END REGISTER -->
  <!-- START CHECKOUT CART -->

  <div class="card text-white bg-secondary mb-3" *ngIf="this.checkOutCart.length > 0">
      <div class="card-header"><b>Uw cadeau's   |   totaal: €{{this.total}}</b></div>
  <div class='d-flex' *ngIf="this.checkOutCart.length > 0" style="background-color: whitesmoke;">
    <div class="col-md4 order-md-2 mb-4" style="border-radius: 20px; padding: 5px; overflow-y: scroll">
      <ul class="list-group mb-3" *ngFor='let items of checkOutCart'>
          <div class="d-flex" style="height: 25px;">
              <div class="mr-auto p-2"><b>{{items.name}}</b></div>
              <div class="p-2">€{{items.price}}</div>
              <div class="p-2" style="margin-top: -7px;"><button (click)="DeleteCartItem(items)" class="btn btn-link"><i class="fa fa-trash" aria-hidden="true" style="margin-left: 1px;"></i></button></div>
            </div>
      </ul>
      <button (click)="CheckOut(totalAmount)" class="btn btn-secondary" style="margin-left: 24%">Schenken</button>
    </div>
  </div>
</div>



  <!-- START CHECKOUT CART -->
</div>

</body>