<body>

    <!-- START ADD REGISTER -->
  <!-- 
      <div class="card" style="width: 350px;" *ngIf="200==200" style="margin-top: 100px">

          <span>Naam</span>
          <input type="text" [(ngModel)]="Name" placeholder="Naam"><br>
      
          <span>Beschrijving van wat het juist is/wat ge gaat doen.</span>
          <input type="text" [(ngModel)]="Description" placeholder="Uitgebreid"><br>
      
          <span>Adres van afbeelding kopiëen</span>
          <input type="text" [(ngModel)]="PictureUrl" placeholder="PictureUrl"><br>
      
          <span>Hoeveelheid</span>
          <input type="number" [(ngModel)]="Quantity" placeholder="Aantal"><br>
          <span>Prijs</span>
          <input type="number" [(ngModel)]="Price" placeholder="Prijs"><br>
          <button (click)="postItem()" class="btn btn-primary" type="submit">Toevoegen</button></div> -->
      <!-- END ADD REGISTER -->
<div class="middenPaneel">

  <div class="uitleg">
  <h1>
    Huwelijkslijkst
  </h1>

  
    <div>
      <p>
        De pagina hieronder is een ludieke manier om te kiezen waar jullie bijdrage naartoe kan gaan, indien u dit wenst. Dit is uiteraard volledig vrijblijvend.</p>
      <p>Concreet, hoe werkt het?</p>
        <ul>
        <li> Je kiest hieronder (een) activiteit(en) naar wens. Om verder te gaan, klik je op ‘Schenk!’</li>
        <li>Je komt vervolgens op een bevestigingspagina terecht waar je een samenvatting ziet van uw gekozen bedrag en activiteit(en).</li>
        <li> Je laat daar je e-mailadres, naam, adres achter en eventueel een leuke boodschap aan ons. Zo weten wij achteraf ook wie wat gekozen heeft.</li>
        <li>Je klikt op ‘Verstuur!’ en je kunt dan het gekozen bedrag overmaken op ons rekeningnummer BE23 9731 5176 2291.</li>
      </ul>
            <p>Omdat een kluis in Gringott’s voor ons niet toegankelijk is en een draak leasen op korte termijn even duur blijkt als een parkeerboete in Gent, is de betalingsmethode van onze keuze een rekening bij Argenta geworden. Laat ons zeggen dat het bijna even veilig en mogelijk toegankelijker is. </p>
      <ul style="list-style: none; margin-right: 50%">
        <li>Weyns-Van Spilbeeck</li>
        <li>BE23 9731 5176 2291</li>
      </ul>
  </div>
</div>
  <!-- START REGISTER -->
  <div class="table-wrapper-scroll-y">
  <table class="table table-hover">
    <thead>
      <tr style="background-color: lightgrey">
        <th scope="col">Naam</th>
        <th scope="col">Foto</th>
        <th scope="col">Aantal</th>
        <th scope="col">Prijs</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody style="cursor: pointer;">
      <tr *ngFor="let registerItem of data; let $index=index;" style="cursor: pointer;">
        <td (click)="expandRow($index)" style="width:50%; cursor: pointer;">
          <div (click)="expandRow($index)" (click)="expandRow($index)"><b>{{registerItem.name}}</b></div>
          <span *ngIf="$index === expandedIndex">{{registerItem.description}}</span> 
        </td>
        <td (click)="expandRow($index)"><img style="height: 50px; width: 50px;" src="{{registerItem.pictureUrl}}" alt=""></td>
        <td (click)="expandRow($index)">{{registerItem.sold}}/{{registerItem.quantity}}</td>
        <td (click)="expandRow($index)">€ {{registerItem.price}}</td>
        <td style="width: 20px"><button (click)="AddToCart(registerItem)" class="btn btn-link"><i class="fa fa-plus"></i></button></td>
    </tbody>
  </table>
  </div>
  <!-- END REGISTER -->
  <!-- START CHECKOUT CART -->

  <div class="card text-white bg-secondary mb-3" *ngIf="this.checkOutCart.length > 0">
      <div class="card-header"><b>Uw cadeau's   |   totaal: €{{this.total}}</b></div>
  <div class='d-flex' *ngIf="this.checkOutCart.length > 0" style="background-color: whitesmoke;">
    <div class="col-md4 order-md-2 mb-4" style="border-radius: 20px; padding: 5px; overflow-y: scroll">
      <ul class="list-group mb-3" *ngFor='let items of checkOutCart'>
          <div class="d-flex" style="height: 25px;">
              <div class="mr-auto p-2"><b>{{items.name}}</b></div>
              <div class="p-2">€{{items.price}}</div>
              <div class="p-2" style="margin-top: -7px;"><button (click)="DeleteCartItem(items)" class="btn btn-link"><i class="fa fa-trash" aria-hidden="true" style="margin-left: 1px;"></i></button></div>
            </div>
      </ul>
      <button (click)="CheckOut(totalAmount)" class="btn btn-secondary" style="margin-left: 24%">Schenken</button>
    </div>
  </div>
</div>



  <!-- START CHECKOUT CART -->
</div>

</body>